.container{
    height: 84vh;
    display: grid;
    grid-template-columns: 30% 70%;
    overflow-y: hidden;
}

.sidebar {
    padding: 2vh;
    overflow-y: scroll;
    height: 84vh;
    background-color: var(--bonaso-dark-accent);
}
.actions {
    display: flex;
    flex-direction: row;
}
.pCard{
    display: flex;
    flex-direction: row;
}
.sbCard {
    background-color: var(--bonaso-uber-dark-accent);
    padding: 2vh;
    transition: all .6s;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
}
.unreadSBCard {
    background-color: var(--warning-bg);
    color: var(--warning-text);
    padding: 2vh;
    transition: all .6s;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
}
.sbCard:hover, .unreadSBCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.mainPanel {
    height: 84vh;
    overflow-y: scroll;
    margin-top: 4vh;
    margin-left: 4vh;
}
.message {
    background-color: var(--bonaso-dark-accent);
    padding: 4vh;
    margin-right: 4vh;
}
.msgContent {
    padding: 2vh;
    background-color: var(--bonaso-uber-dark-accent);
}
.pCard {
    background-color: var(--bonaso-uber-dark-accent);
    margin: 2vh;
    padding: 1vh;
    transition: all .6s ease;
}
.pCard >* {
    margin-left: auto;
}
.pCard:hover {
    background-color: var(--bonaso-uber-dark-accent);
    margin: 2vh;
    padding: 1vh;
    transform: scale(1.06);
}

.compose {
    margin: 4vh;
    padding: 4vh;
    background-color: var(--bonaso-dark-accent);
}
.field > input {
    width: 35vw;
}
.field > textarea {
    width: 35vw;
    height: 25vh;
}
.field > label {
    display: block;
}
.placeholder {
    height: 69vh;
    text-align: center;
    margin-top: 15vh;
}

.spacer {
    padding: 4vh;
}
