.filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.filter {
    padding: 2vh;
    background-color: var(--bonaso-uber-dark-accent);
    max-width: fit-content;
}
.filter >* select {
    max-width: 60%;
}
