.container {
    background-color: var(--bonaso-uber-dark-accent);
    margin: 3vh;
    padding: 3vh;
}
.row{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 475px){
    .row{
        flex-direction: column;
    }
}