.cardActive, .cardResolved {
    padding: 3vh;
    width: 85%;
    transition: all .6s ease;
    margin: 2vh;
}

.cardActive {
    background-color: var(--warning-bg);
    color: var(--warning-text); 
}
.cardActive > a {
    background-color: var(--warning-bg);
    color: var(--warning-text); 
}
.cardResolved {
    background-color: var(--success);
}
.cardActive:hover, .cardResolved:hover {
    cursor: pointer;
    transform: scale(1.06);
}
.section {
    justify-content: space-around;
    background-color: var(--bonaso-uber-dark-accent);
    display: flex;
    flex-direction: row;
    padding: 2vh;
    margin: 3vh;
    text-align: center;
}

.counts {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.count {
    display: flex;
    flex-direction: column;
    text-align: center;
}

