.container {
    margin: 5vh;
    padding: 5vh;
    background-color: var(--bonaso-dark-accent);
}
@media screen and (max-width: 768px){
    .container{
        padding: 2vh;
        margin: 2vh;
    }
}
.return{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 2px solid white;
    background-color: var(--bonaso-dark-accent);
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
}
.returnIcon{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3vh;
}

.card{
    margin-top: 3vh;
    padding: 2vh;
    background-color: var(--bonaso-uber-dark-accent);
}

.activityCard {
    background-color: var(--bonaso-light-accent);
    color: var(--bonaso-uber-dark-accent);
    padding: 1vh;
    margin: 2vh;
    transition: transform .6s;
}
.activityCard:hover{
    transform: scale(1.05);
}
.activityCard > a {
    color: var(--bonaso-uber-dark-accent);
}


.toggleDropdown{
    padding: 1.5vh;
    display: flex;
    flex-direction: row;
}
.toggleDropdown:hover {
    cursor: pointer;
}
.dropdownSegment {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.dropdownContent {
    padding-left: 4vh;
    padding-right: 4vh;
    padding-bottom: 2vh;
}
