.container {
    margin: 5vh;
    padding: 5vh;
    background-color: var(--bonaso-dark-accent);
}

.return{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 2px solid white;
    background-color: var(--bonaso-dark-accent);
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
}
.returnIcon{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3vh;
}

.card{
    margin-top: 3vh;
    padding: 4vh;
    background-color: var(--bonaso-uber-dark-accent);
}