.card{
    margin: 3vh;
    padding: 3vh;
    background-color: var(--bonaso-uber-dark-accent);
    height: fit-content;
    transition: all 0.3s ease;
}
.card:hover{ 
    border: none;
    margin: 1vh;
    cursor: pointer;
    transform: scale(1.05);
    z-index: 2;
}


.tasks{
    overflow-y: hide;
    overflow-x: hide;
    padding-top: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-bottom: 4vh;
    background-color: var(--bonaso-dark-accent);
}

.cancel {
    margin-right: auto;
}

.dates{
    display: flex;
    flex-direction: row;
}

.checkbox {
    display: flex;
    flex-direction: row;
}

label {
    margin-top: auto;
    margin-bottom: auto;
}



