.filterContainer{
    position: relative;
    display: inline-block;
}
.filters {
    padding: 2vh;
    width: 30vw;
    height: fit-content;
    background-color: var(--bonaso-uber-dark-accent);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    overflow:hidden;
}