.form{
    padding: 4vh;
    margin: 5vh;
    background-color: var(--bonaso-dark-accent);
}
@media screen and (max-width: 768px){
    .form{
        padding: 2vh;
        margin: 4vh;
    }
}
.formSection {
    margin: 3vh;
    padding: 3vh;
    background-color: var(--bonaso-uber-dark-accent);
}
.formSection >* label {
    display: block;
}
.formSection >* input {
    width: 50vw;
}
.formSection >* textarea {
    width: 50vw;
    height: 15vh;

}
.radio {
    margin: 2vh;
    padding: 2vh;
}