.index{
    margin: 5vh;
    padding: 5vh;
    background-color: var(--bonaso-dark-accent);
}
.card{
    background-color: var(--bonaso-uber-dark-accent);
    margin: 5vh;
    padding: 3vh;
    height: fit-content;
    transition: transform 0.3s ease;
}
.card:hover{ 
    cursor: pointer;
    transform: scale(1.05);
}

.expandedCard{
    background-color: var(--bonaso-uber-dark-accent);
    margin: 6vh;
    padding: 3vh;
    height: fit-content;
    transition: transform 0.3s ease;
}
.expandedCard:hover{ 
    cursor: pointer;
    transform: scale(1.05);
}

.toggleDropdown{
    padding: 1.5vh;
    display: flex;
    flex-direction: row;
}
.toggleDropdown:hover {
    cursor: pointer;
}
.dropdownSegment {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.dropdownContent {
    padding-left: 4vh;
    padding-right: 4vh;
    padding-bottom: 2vh;
}