.checkbox > *{
    display: flex;
    flex-direction: row;
}
.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0vh;
    left:0vw;
    padding: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 60vw;
    height: 60vh;
    border: 10px solid white;
    background-color: var(--bonaso-uber-dark-accent);
    z-index: 1000; /* High enough to sit above other content */
    display: flex;
    align-items: center;
    overflow-y: scroll;
}
@media screen and (max-width: 768px){
    .modal{
        margin: 3vh;
        width: 75vw;
        height: 80vh;
        padding: 3vh;
    }
}