.segment{
    margin: 4vh;
    background-color: var(--bonaso-dark-accent);
    padding: 4vh;
}

.metricsTable >* thead > tr > td {
    padding: 2vh;
    background-color: var(--bonaso-light-accent);
    color: var(--bonaso-uber-dark-accent);
    font-weight: bold;
}

.metricsTable >* tbody > tr > td {
    text-align: center;
    padding: 2vh;
    background-color: var(--bonaso-uber-dark-accent);
    font-weight: bold;
}


.return{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 2px solid white;
    background-color: var(--bonaso-dark-accent);
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
}
.returnIcon{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3vh;
}

.toggleDropdown{
    padding: 1.5vh;
    display: flex;
    flex-direction: row;
}
.toggleDropdown:hover {
    cursor: pointer;
}

