.home { 
    padding: 6vh;
}
.header {
    padding: 6vh;
    background-color: var(--bonaso-dark-accent);
}
.content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
}
@media screen and (max-width: 950px){
    .content{
        display: flex;
        flex-direction: column;
    }
}

.board{
    background-color: var(--bonaso-dark-accent);
}
.tabs{
    display: flex;
    flex-direction: row;
}


.tab{
    text-align: center;
    width: 33%;
    padding: 1vh;
    background-color: var(--bonaso-main);
    transition: all .6s;
    display: flex;
    flex-direction: row;
    padding: 4vh;
}
.tab >* {
    margin-top: auto;
    margin-bottom: auto;
}

.unreadTab{
    text-align: center;
    width: 33%;
    padding: 1vh;
    background-color: var(--warning-bg);
    color: var(--warning-text);
    transition: all .6s;
    display: flex;
    flex-direction: row;
    padding: 4vh;
}
.unreadTab >* {
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 550px){
    .tab, .unreadTab{
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 33%;
    }
}
.placeholder {
    background-color: var(--bonaso-uber-dark-accent);
    padding: 3vh;
}
.activeTab{
    text-align: center;
    width: 33%;
    padding: 1vh;
    background-color: var(--bonaso-dark-accent);
    display: flex;
    flex-direction: row;
    transition: all .6s;
    padding: 4vh;
}
.activeTab >* {
    margin-top: auto;
    margin-bottom: auto;
}
.msgPane{
    padding: 4vh;
    overflow-y: scroll;
    height: 50vh;
}

.unreadCard {
    padding: 2vh;
    margin: 3vh;
    background-color: var(--warning-bg);
    color: var(--warning-text);
    transition: all .6s;
}
.unreadCard > a {
    color: var(--warning-text);
}
.msgCard{
    margin: 3vh;
    padding: 2vh;
    background-color: var(--bonaso-uber-dark-accent);
    transition: all .6s;
}

.msgCard:hover, .unreadCard:hover{
    transform: scale(1.05);
}

.faves {
    height: 60vh;
    padding: 4vh;
    background-color: var(--bonaso-dark-accent);
    text-align: center;
    overflow-y: scroll;
}
.favesSection {
    padding: 2vh;
    background-color: var(--bonaso-uber-dark-accent);
}
.favesCard {
    margin: 2vh;
    padding: 1vh;
    background-color: var(--bonaso-dark-accent);
    transition: all .6s;
}
.favesCard:hover{
    transform: scale(1.1);
}
