.home { 
    padding: 6vh;
}
.header {
    padding: 6vh;
    background-color: var(--bonaso-dark-accent);
}
.content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
}
@media screen and (max-width: 768px){
    .content{
        display: flex;
        flex-direction: column;
    }
}

.board{
    background-color: var(--bonaso-dark-accent);
}
.tabs{
    display: flex;
    flex-direction: row;
}
.tab{
    text-align: center;
    width: 33%;
    padding: 1vh;
    background-color: white;
    color: var(--bonaso-dark-accent);
}
.activeTab{
    text-align: center;
    width: 33%;
    padding: 1vh;
    
    background-color: var(--bonaso-dark-accent);
}
.msgCard{
    margin: 3vh;
    padding: 1vh;
    background-color: var(--bonaso-uber-dark-accent);
    transition: all .6s;
}
.msgCard:hover{
    transform: scale(1.05);
}






.tasksBox{
    padding: 4vh;
    background-color: var(--bonaso-dark-accent);
}
.tasks {
    background-color: var(--bonaso-dark-accent);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.task {
    background-color: var(--bonaso-uber-dark-accent);
    margin: 2vh;
    padding: 3vh;
    transition: transform 0.5s ease;
}

.task:hover {
    background-color: var(--bonaso-uber-dark-accent);
    margin: 2vh;
    padding: 3vh;
    transform: scale(1.15);
}
.taskLink {
    background-color: var(--bonaso-uber-dark-accent);
    margin: 2vh;
    padding: 3vh;
    transition: transform 0.5s ease;
}

.taskLink:hover {
    background-color: var(--bonaso-uber-dark-accent);
    margin: 2vh;
    padding: 3vh;
    cursor: pointer;
    transform: scale(1.15);
}

.actions {
    text-align: center;
    background-color: var(--bonaso-dark-accent);
    display: flex;
    flex-direction: column;
    margin: 2vh;
    padding: 2vh;
}

@media screen and (max-width: 768px){
    .actions{
        padding: 1vh;
        margin: 0;
    }
}