.unreadCard {
    padding: 2vh;
    margin: 2vh;
    background-color: var(--warning-bg);
    color: var(--warning-text);
    transition: all .6s;
}
.card{
    padding: 2vh;
    margin: 2vh;
    background-color: var(--bonaso-uber-dark-accent);
    transition: all .6s;
}

.card:hover, .unreadCard:hover{
    cursor: pointer;
    transform: scale(1.06);
}