.fileUpload{
    margin: 5vh;
    background-color: var(--bonaso-dark-accent);
    padding: 4vh;
    max-width: 60vw;
}
.template > * {
    margin-bottom: 4vh;
}
.files{
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: var(--bonaso-dark-accent);
    padding: 4vh;
}
.form{
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
}
.desc{
    height: 15vh;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.buttons > butto n{
    max-width: 10vw;
}

.card {
    background-color: var(--bonaso-uber-dark-accent);
    padding: 2vh;
    margin: 2vh;
    transition: transform .6s;
}

.card:hover{
    transform: scale(1.05);
    margin: 0;
    background-color: var(--bonaso-light-accent);
    color: var(--bonaso-uber-dark-accent);
}

.downloadRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 2px solid white;
    background-color: var(--bonaso-dark-accent);
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
}
.returnIcon{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3vh;
}


