.respondents{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 25% 50% 25%;
}

.mainPanel{
    display: grid;
    grid-template-rows: 60%, 40%;
}
.card {
    margin: 2vh;
}
.card >*{
    margin-top: 0;
    margin-bottom: 0;
}