.login{
    background-color: var(--bonaso-dark-accent);
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    padding: 2vh;
    margin-top: 10vh;
    box-shadow: 2px 2px 2px 4px var(--bonaso-light-accent);
}
@media screen and (max-width: 768px){
    .login{
        width: 80vw;
    }
}
.header{
    text-align: center;
}
.headerImage{
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
}

.label{
    font-weight: bold;
}

.inputs{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 17vw;
}
.inputs > *{
    margin-bottom: 1vh;
}
@media screen and (max-width: 768px){
    .inputs{
        width: 60vw;
    }
}